app:
  name: "captive-portal"
  env: "dev"
  host: 127.0.0.1
  port: 8080
  graceful_timeout_second: 0.1
  log_level: "debug"

newrelic:
  license_key: "example"

openwrt:
  encryption_key: "example"

redis:
  host: 127.0.0.1
  port: 6379
  db: 0
  password: ""

db:
  host: 127.0.0.1
  port: 5432
  name: "captive_portal"
  password: "example"
